.bg{
    opacity: 0.9;
    background: #141229;
}
/* Default height for small devices */
#intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 1200px) {
    #intro-example {
      height: 600px;
    }
  }
  .txt{
    font-size: 1.5rem;
  }
  .head3 {
    text-align: center;
    color: #1bc2ca;
    font-family: 'Oswald',sans-serif;
    padding-bottom: inherit;
}
.nav-align {
    text-align: right;
}

.card-design{
    border-radius: 25px;
    background: #5e5c7e;
}